.container {
  height: 400vh;
}

.gallery {
  position: sticky;
  top: 0;
  height: 100vh;
  border: 1px solid red;
  overflow: hidden;
}

.image-wrapper {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.image {
  width: 200px;
  height: auto;

  border: 1px solid blue;
  text-align: center;
}
