{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "no-plusplus":"off",
    "class-methods-use-this": "off"
  }
}